@model Fdsd.Application.Common.UserDto
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <br />
        <div class="col-sm-6">
            <h4>教職員</h4>
            <h3>@Model.EmpName</h3>
            <h4>を削除しますか？</h4>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-secondary">戻る</a>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    【教職員コード】
                </dt>
                <dd>
                    @Model.EmpCd
                </dd>
                <dt>
                    【教職員氏名】
                </dt>
                <dd>
                    @Model.EmpName
                </dd>
                <dt>
                    【アカウント名】
                </dt>
                <dd>
                    @Model.EmpUserNm
                </dd>
                <dt>
                    【学科名】
                </dt>
                <dd>
                    @Model.GakkaName
                </dd>
                <dt>
                    【入職日】
                </dt>
                <dd>
                    @Model.NyusyaDate?.ToString("yyyy/MM/dd")
                </dd>
                <dt>
                    【区分】
                </dt>
                <dd>
                    @(ViewBag.EmpKubunName as string ?? "未設定")
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.UserId" />

        <div class="form-group">
            <label class="control-label col-md-3">退職日</label>
            <div class="col-md-5">
                <input type="date" name="taisyaDate" class="form-control" style="max-width:280px;" required />
            </div>
        </div>

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-outline-dark btn-lg">削除</button>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-secondary">戻る</a>
        </div>
    </form>
</div>