@model List<Fdsd.Application.Common.GakkaDto>
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-6">
    <h2>学科一覧画面</h2>
</div>
<div class="col-sm-6">
    <a href="@Url.Action("Menu", "T_KENSHU")" class="btn btn-sm btn-secondary">戻る</a>
</div>

<div class="col-sm-12">
    <p>
        学科の新規登録はこちらから：
        <a href="@Url.Action("Create")" class="btn btn-outline-dark btn-sm">新規登録</a>
    </p>
</div>
<table class="table">
    <tr>
        <th>
            学科コード
        </th>
        <th>
            学科名
        </th>
        <th>
            略称
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GakkaCd
            </td>
            <td>
                @item.GakkaName
            </td>
            <td>
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.GakkaCd })" class="btn btn-outline-dark btn-sm">編集</a>
                <a href="@Url.Action("Details", new { id = item.GakkaCd })" class="btn btn-outline-dark btn-sm">詳細</a>
                <a href="@Url.Action("Delete", new { id = item.GakkaCd })" class="btn btn-outline-dark btn-sm">削除</a>
            </td>
        </tr>
    }
</table>
<p>
    <a href="@Url.Action("Menu", "T_KENSHU")" class="btn btn-sm btn-secondary">戻る</a>
</p>