@model Fdsd.Application.Common.LeaveOfAbsenceDto
@{ ViewData["Title"] = "休職削除"; }
<div class="row mt-3">
    <div class="col-sm-6">
        <h4>以下の休職レコードを削除しますか？</h4>
    </div>
    <div class="col-sm-6 text-end"><a href="@Url.Action("Index")" class="btn btn-sm btn-secondary">戻る</a></div>
</div>
<hr />
<dl class="row">
    <dt class="col-sm-3">氏名</dt><dd class="col-sm-9">@Model.EmpName</dd>
    <dt class="col-sm-3">開始日</dt><dd class="col-sm-9">@Model.StartDate.ToString("yyyy/MM/dd")</dd>
    <dt class="col-sm-3">終了日</dt><dd class="col-sm-9">@(Model.EndDate?.ToString("yyyy/MM/dd") ?? "継続中")</dd>
</dl>
<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger btn-lg">削除</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">戻る</a>
</form>
